@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-image: url("ecopathbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 3px solid #497169;
    width: 50%;
}

button {
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid #fff;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    transition: 1s;
}

button:hover {
    background: none;
    cursor: pointer;
}

/* Main div */

.main {
    background-color: #162333;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 300px;
    overflow: auto;
}


/* Index */

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.welcomeMessage {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 60px;
}

.welcomeButton {
    text-transform: uppercase;
    background: none;
    border: 3px solid #fff;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    width: 300px;
}

.welcomeButton:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

/* Top Navigation Bar */

.navigation {
  width: 100%;
}

.siteName {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: 3px;
  padding-top: 25px;
  padding-left: 25px;
}

ul {
  list-style-type: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

li {
  float: right;
  font-size: 2rem;
  text-transform: uppercase;
}

li a {
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: 1s;
}

li a:hover {
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid #fff;
}

/* Log page */

.loading {
    position: absolute;
    top: 25%;
    left: 25%;
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid #fff;
    font-size: 2rem;
    padding: 20px;
}

.container {
    margin: auto;
    width: 80%;
}

.logCard {
display: block;
float: left;
width: 25%;
margin: 20px;
padding: 10px;
height: 250px;
}

.logText {
    background: rgba(73, 113, 105, 0.9);
    padding: 5px;
    font-size: 1.2rem;
}

.logDate {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: 1s;
}

.logDate:hover {
    color: #162333;
}